<a href="https://colab.research.google.com/github/Au9u5tu-s/StockNews/blob/main/StockNewsDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataCNBC = pd.read_csv('/content/drive/MyDrive/stock news/cnbc_headlines.csv')
datagaurd = pd.read_csv('/content/drive/MyDrive/stock news/guardian_headlines.csv')
datareuters = pd.read_csv('/content/drive/MyDrive/stock news/reuters_headlines.csv')

In [ ]:
dataCNBC

,Headlines,Time,Description
0,Jim Cramer: A better way to invest in the Covi...,"7:51 PM ET Fri, 17 July 2020","""Mad Money"" host Jim Cramer recommended buying..."
1,Cramer's lightning round: I would own Teradyne,"7:33 PM ET Fri, 17 July 2020","""Mad Money"" host Jim Cramer rings the lightnin..."
2,NaN,NaN,NaN
3,"Cramer's week ahead: Big week for earnings, ev...","7:25 PM ET Fri, 17 July 2020","""We'll pay more for the earnings of the non-Co..."
4,IQ Capital CEO Keith Bliss says tech and healt...,"4:24 PM ET Fri, 17 July 2020","Keith Bliss, IQ Capital CEO, joins ""Closing Be..."
...,...,...,...
3075,Markets lack Christmas cheer,"10:15 AM ET Tue, 26 Dec 2017","According to Kensho, here's how markets have f..."
3076,Cramer Remix: The biggest mistake you can make...,"11:12 AM ET Thu, 20 Sept 2018",Jim Cramer revealed his top rule when it comes...
3077,Cramer says owning too many stocks and too lit...,"7:07 PM ET Fri, 22 Dec 2017",Jim Cramer broke down why owning fewer stocks ...
3078,Cramer: I helped investors through the 2010 fl...,"7:07 PM ET Fri, 22 Dec 2017","Jim Cramer built on his ""nobody ever made a di..."
3079,Cramer: Never buy a stock all at once — you'll...,"6:52 PM ET Fri, 22 Dec 2017",Jim Cramer doubled down on his key investing r...

In [ ]:
dataCNBC = dataCNBC.dropna()

In [ ]:
dataCNBC[['Timestamp','Time']] = dataCNBC['Time'].str.split(', ',expand=True)

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
dataCNBC

,Headlines,Time,Description,Timestamp
0,Jim Cramer: A better way to invest in the Covi...,17 July 2020,"""Mad Money"" host Jim Cramer recommended buying...",7:51 PM ET Fri
1,Cramer's lightning round: I would own Teradyne,17 July 2020,"""Mad Money"" host Jim Cramer rings the lightnin...",7:33 PM ET Fri
3,"Cramer's week ahead: Big week for earnings, ev...",17 July 2020,"""We'll pay more for the earnings of the non-Co...",7:25 PM ET Fri
4,IQ Capital CEO Keith Bliss says tech and healt...,17 July 2020,"Keith Bliss, IQ Capital CEO, joins ""Closing Be...",4:24 PM ET Fri
5,Wall Street delivered the 'kind of pullback I'...,16 July 2020,"""Look for the stocks of high-quality companies...",7:36 PM ET Thu
...,...,...,...,...
3075,Markets lack Christmas cheer,26 Dec 2017,"According to Kensho, here's how markets have f...",10:15 AM ET Tue
3076,Cramer Remix: The biggest mistake you can make...,20 Sept 2018,Jim Cramer revealed his top rule when it comes...,11:12 AM ET Thu
3077,Cramer says owning too many stocks and too lit...,22 Dec 2017,Jim Cramer broke down why owning fewer stocks ...,7:07 PM ET Fri
3078,Cramer: I helped investors through the 2010 fl...,22 Dec 2017,"Jim Cramer built on his ""nobody ever made a di...",7:07 PM ET Fri
3079,Cramer: Never buy a stock all at once — you'll...,22 Dec 2017,Jim Cramer doubled down on his key investing r...,6:52 PM ET Fri

In [ ]:
dataCNBC['Time'] = pd.to_datetime(dataCNBC.Time)
dataCNBC['Time'] = dataCNBC['Time'].dt.strftime('%d/%m/%Y')

<ipython-input-7-ab41c25c79af>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataCNBC['Time'] = pd.to_datetime(dataCNBC.Time)
<ipython-input-7-ab41c25c79af>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataCNBC['Time'] = dataCNBC['Time'].dt.strftime('%d/%m/%Y')

In [ ]:
dataCNBC

,Headlines,Time,Description,Timestamp
0,Jim Cramer: A better way to invest in the Covi...,17/07/2020,"""Mad Money"" host Jim Cramer recommended buying...",7:51 PM ET Fri
1,Cramer's lightning round: I would own Teradyne,17/07/2020,"""Mad Money"" host Jim Cramer rings the lightnin...",7:33 PM ET Fri
3,"Cramer's week ahead: Big week for earnings, ev...",17/07/2020,"""We'll pay more for the earnings of the non-Co...",7:25 PM ET Fri
4,IQ Capital CEO Keith Bliss says tech and healt...,17/07/2020,"Keith Bliss, IQ Capital CEO, joins ""Closing Be...",4:24 PM ET Fri
5,Wall Street delivered the 'kind of pullback I'...,16/07/2020,"""Look for the stocks of high-quality companies...",7:36 PM ET Thu
...,...,...,...,...
3075,Markets lack Christmas cheer,26/12/2017,"According to Kensho, here's how markets have f...",10:15 AM ET Tue
3076,Cramer Remix: The biggest mistake you can make...,20/09/2018,Jim Cramer revealed his top rule when it comes...,11:12 AM ET Thu
3077,Cramer says owning too many stocks and too lit...,22/12/2017,Jim Cramer broke down why owning fewer stocks ...,7:07 PM ET Fri
3078,Cramer: I helped investors through the 2010 fl...,22/12/2017,"Jim Cramer built on his ""nobody ever made a di...",7:07 PM ET Fri
3079,Cramer: Never buy a stock all at once — you'll...,22/12/2017,Jim Cramer doubled down on his key investing r...,6:52 PM ET Fri

In [ ]:
dataCNBC = dataCNBC.drop(['Description', 'Timestamp'], axis=1)

In [ ]:
dataCNBC

                                              Headlines        Time
0     Jim Cramer: A better way to invest in the Covi...  17/07/2020
1        Cramer's lightning round: I would own Teradyne  17/07/2020
3     Cramer's week ahead: Big week for earnings, ev...  17/07/2020
4     IQ Capital CEO Keith Bliss says tech and healt...  17/07/2020
5     Wall Street delivered the 'kind of pullback I'...  16/07/2020
...                                                 ...         ...
3075                       Markets lack Christmas cheer  26/12/2017
3076  Cramer Remix: The biggest mistake you can make...  20/09/2018
3077  Cramer says owning too many stocks and too lit...  22/12/2017
3078  Cramer: I helped investors through the 2010 fl...  22/12/2017
3079  Cramer: Never buy a stock all at once — you'll...  22/12/2017

[2800 rows x 2 columns]

In [ ]:
datagaurd

            Time                                          Headlines
0      18-Jul-20   Johnson is asking Santa for a Christmas recovery
1      18-Jul-20  ‘I now fear the worst’: four grim tales of wor...
2      18-Jul-20  Five key areas Sunak must tackle to serve up e...
3      18-Jul-20  Covid-19 leaves firms ‘fatally ill-prepared’ f...
4      18-Jul-20  The Week in Patriarchy  \n\n\n  Bacardi's 'lad...
...          ...                                                ...
17795  17-Dec-17  How investing in solar energy can create a bri...
17796  17-Dec-17     Poundland suppliers hit by insurance downgrade
17797  17-Dec-17  Cryptocurrencies: City watchdog to investigate...
17798  17-Dec-17  Unilever sells household name spreads to KKR f...
17799  17-Dec-17  The Guardian view on Ryanair’s model: a union-...

[17800 rows x 2 columns]

In [ ]:
datagaurd['Time'] = pd.to_datetime(datagaurd.Time,  errors = 'coerce')
datagaurd['Time'] = datagaurd['Time'].dt.strftime('%d/%m/%Y')

In [ ]:
datagaurd = datagaurd.iloc[:,[1,0]]

In [ ]:
datagaurd

                                               Headlines        Time
0       Johnson is asking Santa for a Christmas recovery  18/07/2020
1      ‘I now fear the worst’: four grim tales of wor...  18/07/2020
2      Five key areas Sunak must tackle to serve up e...  18/07/2020
3      Covid-19 leaves firms ‘fatally ill-prepared’ f...  18/07/2020
4      The Week in Patriarchy  \n\n\n  Bacardi's 'lad...  18/07/2020
...                                                  ...         ...
17795  How investing in solar energy can create a bri...  17/12/2017
17796     Poundland suppliers hit by insurance downgrade  17/12/2017
17797  Cryptocurrencies: City watchdog to investigate...  17/12/2017
17798  Unilever sells household name spreads to KKR f...  17/12/2017
17799  The Guardian view on Ryanair’s model: a union-...  17/12/2017

[17800 rows x 2 columns]

In [ ]:
datareuters

,Headlines,Time,Description
0,TikTok considers London and other locations fo...,Jul 18 2020,TikTok has been in discussions with the UK gov...
1,Disney cuts ad spending on Facebook amid growi...,Jul 18 2020,Walt Disney has become the latest company to ...
2,Trail of missing Wirecard executive leads to B...,Jul 18 2020,Former Wirecard chief operating officer Jan M...
3,Twitter says attackers downloaded data from up...,Jul 18 2020,Twitter Inc said on Saturday that hackers were...
4,U.S. Republicans seek liability protections as...,Jul 17 2020,A battle in the U.S. Congress over a new coron...
...,...,...,...
32765,Malaysia says never hired British data firm at...,Mar 20 2018,The Malaysian government and the ruling party ...
32766,Prosecutors search Volkswagen headquarters in ...,Mar 20 2018,German prosecutors said on Tuesday they had se...
32767,McDonald's sets greenhouse gas reduction targets,Mar 20 2018,McDonald's Corp on Tuesday announced an approv...
32768,Pratt & Whitney to deliver spare A320neo engin...,Mar 20 2018,Pratt & Whitney will soon begin deliveries of ...
32769,UK will always consider ways to improve data l...,Mar 20 2018,Britain will consider any suggestions to give ...

In [ ]:
datareuters['Time'] = pd.to_datetime(datareuters.Time,  errors = 'coerce')
datareuters['Time'] = datareuters['Time'].dt.strftime('%d/%m/%Y')

In [ ]:
datareuters = datareuters.drop(['Description'], axis=1)

In [ ]:
datareuters

                                               Headlines        Time
0      TikTok considers London and other locations fo...  18/07/2020
1      Disney cuts ad spending on Facebook amid growi...  18/07/2020
2      Trail of missing Wirecard executive leads to B...  18/07/2020
3      Twitter says attackers downloaded data from up...  18/07/2020
4      U.S. Republicans seek liability protections as...  17/07/2020
...                                                  ...         ...
32765  Malaysia says never hired British data firm at...  20/03/2018
32766  Prosecutors search Volkswagen headquarters in ...  20/03/2018
32767   McDonald's sets greenhouse gas reduction targets  20/03/2018
32768  Pratt & Whitney to deliver spare A320neo engin...  20/03/2018
32769  UK will always consider ways to improve data l...  20/03/2018

[32770 rows x 2 columns]

In [ ]:
StockNewsData = pd.concat([dataCNBC, datagaurd, datareuters])

In [ ]:
StockNewsData

                                               Headlines        Time
0      Jim Cramer: A better way to invest in the Covi...  17/07/2020
1         Cramer's lightning round: I would own Teradyne  17/07/2020
3      Cramer's week ahead: Big week for earnings, ev...  17/07/2020
4      IQ Capital CEO Keith Bliss says tech and healt...  17/07/2020
5      Wall Street delivered the 'kind of pullback I'...  16/07/2020
...                                                  ...         ...
32765  Malaysia says never hired British data firm at...  20/03/2018
32766  Prosecutors search Volkswagen headquarters in ...  20/03/2018
32767   McDonald's sets greenhouse gas reduction targets  20/03/2018
32768  Pratt & Whitney to deliver spare A320neo engin...  20/03/2018
32769  UK will always consider ways to improve data l...  20/03/2018

[53370 rows x 2 columns]

In [ ]:
StockNewsData = StockNewsData.reset_index(drop=True)

In [ ]:
StockNewsData['Time'] = pd.to_datetime(StockNewsData['Time'], format='%d/%m/%Y')

In [ ]:
StockNewsData= StockNewsData.sort_values(by=['Time'])

In [ ]:
StockNewsData

                                               Headlines       Time
20599  The Guardian view on Ryanair’s model: a union-... 2017-12-17
20584  Butchers carve out a niche as UK shoppers opt ... 2017-12-17
20583  Grogonomics  \n\n\n  This year has been about ... 2017-12-17
20582  Youngest staff to be given UK workplace pensio... 2017-12-17
20580  Peter Preston on press and broadcasting  \n\n\... 2017-12-17
...                                                  ...        ...
18495  ‘Homebase is the most disastrous retail acquis...        NaT
18496  Cathay Pacific completes two-leg journey, lett...        NaT
18497  Brexit means eggs sit: Ferrero warns of stale ...        NaT
18498  Corbyn: interests of City speculators put abov...        NaT
18499  Country diary  Country diary: my crash course ...        NaT

[53370 rows x 2 columns]

In [ ]:
StockNewsData = StockNewsData.dropna()

In [ ]:
StockNewsData = StockNewsData.rename(columns={'Time': 'Date'})

In [ ]:
StockNewsData.to_csv('/content/drive/MyDrive/cleanedStockNews.csv', index="false")

In [ ]:
spdata =  pd.read_csv('/content/drive/MyDrive/stock news/S&P 500 Historical Data.csv')

In [ ]:
spdata

            Date     Price      Open      High       Low  Vol. Change %
0     31/12/2021  4,766.18  4,775.21  4,786.83  4,765.75   NaN   -0.26%
1     30/12/2021  4,778.73  4,794.23  4,808.93  4,775.33   NaN   -0.30%
2     29/12/2021  4,793.06  4,788.64  4,804.06  4,778.08   NaN    0.14%
3     28/12/2021  4,786.36  4,795.49  4,807.02  4,780.04   NaN   -0.10%
4     27/12/2021  4,791.19  4,733.99  4,791.49  4,733.99   NaN    1.38%
...          ...       ...       ...       ...       ...   ...      ...
1506  08/01/2016  1,922.03  1,945.97  1,960.40  1,918.46   NaN   -1.08%
1507  07/01/2016  1,943.09  1,985.32  1,985.32  1,938.83   NaN   -2.37%
1508  06/01/2016  1,990.26  2,011.71  2,011.71  1,979.05   NaN   -1.31%
1509  05/01/2016  2,016.71  2,013.78  2,021.94  2,004.17   NaN    0.20%
1510  04/01/2016  2,012.66  2,038.20  2,038.20  1,989.68   NaN   -1.53%

[1511 rows x 7 columns]

In [ ]:
spdata['Date'] = pd.to_datetime(spdata['Date'], format='%d/%m/%Y')

In [ ]:
spdata['Price'] = spdata['Price'].str.replace(',', '').astype(float)

for date in StockNewsData['Date']:
  checkdate =  date
  if spdata['Date'].isin([date]).any():
      row = spdata.loc[spdata['Date'] == date]
      StockNewsData.loc[StockNewsData['Date'] == date, 'Price'] = row.iloc[0,1]
  else:
      while not spdata['Date'].isin([date]).any():
          date = (pd.to_datetime(date) + pd.Timedelta(days=1,)).strftime("%Y-%m-%d")
      row = spdata.loc[spdata['Date'] == date]
      StockNewsData.loc[StockNewsData['Date'] == checkdate, 'Price'] = row.iloc[0,1]

StockNewsData['prevclose'] = 0.0

# Iterate over each row in StockNewsData
for i, row in StockNewsData.iterrows():
    date = row['Date']

    # Check if previous day's price is available
    if (spdata['Date'] == date - pd.Timedelta(days=1)).any():
        prev_price = spdata.loc[spdata['Date'] == date - pd.Timedelta(days=1), 'Price'].values[0]
    else:
        prev_date = date - pd.Timedelta(days=1)
        while not spdata['Date'].isin([prev_date]).any():
            prev_date = prev_date - pd.Timedelta(days=1)
        prev_price = spdata.loc[spdata['Date'] == prev_date, 'Price'].values[0]

    # Assign previous day's price to 'prevclose' column
    StockNewsData.at[i, 'prevclose'] = prev_price

In [ ]:
StockNewsData.to_csv('/content/drive/MyDrive/cleanedStockNews.csv', index="false")

In [ ]:
StockNewsData

,Headlines,Date,Price,prevclose
20599,The Guardian view on Ryanair’s model: a union-...,2017-12-17,2690.16,2675.81
20584,Butchers carve out a niche as UK shoppers opt ...,2017-12-17,2690.16,2675.81
20583,Grogonomics \n\n\n This year has been about ...,2017-12-17,2690.16,2675.81
20582,Youngest staff to be given UK workplace pensio...,2017-12-17,2690.16,2675.81
20580,Peter Preston on press and broadcasting \n\n\...,2017-12-17,2690.16,2675.81
...,...,...,...,...
2817,World Bank calls on creditors to cut poorest n...,2020-07-18,3251.84,3224.73
2818,British Airways retires Boeing 747 fleet as Co...,2020-07-18,3251.84,3224.73
2819,What will changes to England's lockdown rules ...,2020-07-18,3251.84,3224.73
2811,Atol protection to be extended to vouchers on ...,2020-07-18,3251.84,3224.73
20601,Disney cuts ad spending on Facebook amid growi...,2020-07-18,3251.84,3224.73